* {
    /*border: 1px solid white;*/
}

html, body {
    background-color: black;
    font-family: 'OCR A Std', 'Courier New', monospace;
    font-variant: small-caps;
    font-size: 20px;
    color:whitesmoke;
    margin: 0;
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    justify-content: space-between;
    overflow-x: hidden; 
}

.header { 
    display: flex; 
    justify-content: space-around;
    align-items: center;
    margin: 0; 
    padding: 10px 0px; 
    /*height: 70px;*/
    min-height: 70px; 
    flex-wrap: wrap;
    gap: 20px;
}

h1{
    font-weight: 900;
    color: pink;
    padding: 0 10px;
    font-size: 45px;
    border: 3px solid aliceblue;
    border-radius: 20px 10px;
    text-wrap: nowrap; 
    margin: 0; 
}

ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    font-size: 20px;
    color: lightblue;
}


.container1 {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 80px 150px; 
}

.welcome { 
    border-radius: 20px 40px;
    padding: 5px 20px;
    min-width: 200px;
    flex: 2 1 300px;
}

.welcomeimg {
    min-width: 200px;
    min-height: 200px; 
    max-height: 320px; 
    max-width: 320px; 
    border-radius: 30px 60px;
    flex: 1 3 150px; 
    border: 3px solid aliceblue;
}

.container2 {
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 20px 100px;
    gap: 20px;
    min-height: 300px;
    height: 300px; 
    flex: 1;
}

.itemcontainer {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding: 20px 40px;
    margin-bottom: 10px;
    flex-wrap: wrap; 
}

.item { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px; 
    min-width: 200px;
    min-height: 200px;
}

.item p { 
    flex-grow: 2;
    max-width: 250px;
}

.container2 h3 {
    text-align: center; 
}

.container2 img { 
    max-width: 250px;
    max-height: 250px; 
    border: 3px solid aliceblue;
    flex: 1 3 100px; 
    border-radius: 30px 20px;
}

.container3 {
    display: flex; 
    align-items: center; 
    justify-content: space-around;
    padding: 20px 40px;
    min-height: 300px;
    height: 300px; 
    flex: 1;
}

blockquote { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    max-width: 1000px;
    min-height: 100px;  
    padding: 20px 40px; 
}

.quotefooter {
    text-align: right;
    font-style: italic;
}

.container4 {
    display: flex;
    justify-content: center; 
    align-items: center;
    padding: 40px 40px;
    min-height: 300px;
    height: 300px; 
    flex: 1;

}

.signup {
    display: flex; 
    justify-content: center;
    align-items: center;
    gap: 50px; 
    max-width: 600px;
    padding: 10px; 
}

.footer {
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 40px;
    background-color: hotpink;
    color: aquamarine;
    border: 2px solid aliceblue;
    font-weight: bold;
    font-size: 20px;
}

h2 {
    font-weight: 800;
    font-size: 40px;
}

h3 {
    font-weight: 800;
    font-size: 30px;
}


button { 
    font-family: 'OCR A Std', 'Courier New', monospace;
    font-variant: small-caps;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 3px 5px; 
    width: 100px;
    height: 40px;
    min-width: 100px;
    min-height: 40px; 
    border-radius: 10px 20px;
    border: 3px solid aliceblue;
    font-size: 20px;
    font-weight: bold;
    background-color: aquamarine;
    color: hotpink;
}

button:hover { 
    cursor: pointer;
    background-color: pink;
    color: darkcyan;

}

a:hover {
    color: aquamarine;
}

hr { 
    margin: 0; 
    height: 2px; 
    background-color: aliceblue;
    border: none; 
}





